*.iml
.gradle
/LocalRepository
/keystores
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
rhino-*/build/

/app/mapping.txt
/app/seeds.txt
/app/unused.txt

/material-dialogs-bottomsheets/build/
/material-dialogs-core/build/
/material-dialogs-datetime/build/
/material-dialogs-input/build/
