body{
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}
label{
    display: block;
    font-size: 18px;
    padding: 5px 0;
}
select {
    border: 1px solid #3396FB;
    background-color: #F2F2F2;
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    height: 40px;
    color: #3396FB;
    padding: 0 10px;
    border-radius: 10px;
    outline-style: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
input{
    outline-style: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #F2F2F2;
    background-color: white;
    height: 40px;
    padding: 0;
    font-size: 18px;
}
input::-webkit-input-placeholder{
    font-size:16px;
}
button{
    width: 30%;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline-style: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #3396FB;
    -webkit-tap-highlight-color:transparent;  /*去除点击后蓝色阴影效果*/
}
option:first-child{
    font-weight: bolder;
}
option{
    background-color: white;
    color: black;
}
textarea{
    width: 100%;
    outline-style: none;
    border: 2px solid #F2F2F2;
    min-height: 20px;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
}

.rule{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.rule_content{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 5px;
}
.rule_content1 input,.rule_content1 select{
    width: 100%;
}
.rule_content2 select{
    width: 30%;
}
.time_button{
    width: 30%;
    border: 1px solid #3396FB;
    background-color: #F2F2F2;
    font-size: 18px;
    color: #3396FB;
    -webkit-tap-highlight-color:transparent;
}
.rule_content2 input{
    width: 65%;
    margin-left: 3%;
}
.rule_content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.rule_content3 span{
    width:30%;
    text-align: left;
    line-height: 40px;
}
.rule_content3 label{
    width:5%;
    text-align: center;
    font-size: 24px;
    color: #8A8A8A;
    line-height: 40px;
}
.rule_content3 select{
    width: 65%;
    border: none;
    background-color: white;
    text-align: right;
    text-align-last: right;
    padding-right: 5%;
    color: #AAAAAA;
    line-height: 40px;
}
.rule_content3 button{
    color: #5A98DE;
    border: 1px solid #3396FB;
    background-color: #F2F2F2;
    line-height: 40px;
}

.rule_content3 input{
    width: 65%;
}
.bill_select{
    border-bottom: 2px solid #F2F2F2 !important;
    border-radius: 0;
}

.buttons{
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
.buttons button{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.button1{
    margin-right: 10%;
}

@media screen and (min-width:992px){
    .rule{
        width: 50%;
    }
    .rule_content div{
        width: 95%;
        margin: 0 auto;
    }
    label{
        width: 95%;
        margin: 10px auto;
    }
    .buttons{
        width: 95%;
    }
    .modal-content{
        width: 50%;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    .rule{
        width: 80%;
    }
    .rule_content div{
        width: 95%;
        margin: 0 auto;
    }
    label{
        width:95%;
        margin: 10px auto;
    }
    .buttons{
        width: 95%;
    }
    .modal-content{
        width: 80%;
    }
}
@media screen and (max-width:768px){
    .rule_content div{
        width: 95%;
        margin: 0 auto;
    }
    label{
        width: 95%;
        margin: 10px auto;
    }
    .buttons{
        width: 95%;
    }
    .modal-content{
        width: 100%;
    }
}

.imgIcon{
			/*反转元素*/

			/*考虑浏览器兼容性：兼容Chrome,Safari,Opera*/
			-webkit-filter: invert(50%);
			filter: invert(50%);
}


/* 添加动画 */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

.testswitch {
    position: relative;
    float: left;
    width: 90px !important;
    margin: 0!important;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}

.testswitch-checkbox {
    display: none;
}

.testswitch-label {
    width: 100%!important;
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-tap-highlight-color:transparent;
}

.testswitch-inner {
    display: block;
    width: 200%!important;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.testswitch-inner::before, .testswitch-inner::after {
    display: block;
    float: right;
    width: 50%!important;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family:
            Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.testswitch-inner::after {
    content: attr(data-on);
    padding-left: 10px;
    background-color: #3396FB;
    color: #FFFFFF;
}

.testswitch-inner::before {
    content: attr(data-off);
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.testswitch-switch {
    position: absolute;
    display: block;
    width: 22px!important;
    height: 22px;
    margin: 4px;
    background: #FFFFFF;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {
    margin-left: 0;
}

.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {
    right: 0px;
}
