body, button, div, h3, h4, input, li, pre, textarea, ul {
    margin: 0;
    padding: 0
}

body {
    line-height: 1.5;
    background: #fff;
    color: #333;
    position: relative;
    font-size: 13px
}

ul {
    margin: 0 0 1.75em 1.75em
}

li {
    margin: .1em 0 .1em 1.75em
}

input, label {
    vertical-align: middle
}

input, textarea {
    font-size: 100%
}

textarea {
    border-radius: 0;
    -webkit-appearance: none
}

textarea {
    background-color: #fff;
    border: 1px solid #abadb3;
    border-radius: 0
}

textarea:focus {
    border: 1px solid #009a61;
    box-shadow: 0 0 0 2px rgba(0, 154, 97, .25)
}

pre {
    overflow: auto;
    padding-bottom: 2em
}

:focus {
    outline: 0
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

textarea {
    resize: vertical
}

input, textarea {
    font-family: Verdana, "Geneva CE", lucida, 'Microsoft YaHei', sans-serif
}

h3, h4 {
    font-family: Trebuchet MS, "Geneva CE", lucida, 'Microsoft YaHei', sans-serif
}

body {
    color: #444;
    font: 80%/1.65 Verdana, "Geneva CE", lucida, 'Microsoft YaHei', sans-serif
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 13px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px
}

html {
    height: 100%
}

h3, h4 {
    text-indent: 0;
    margin: 1.2em 0 .7em;
    color: #333
}

h3 {
    font-size: 120%;
    color: #444
}

h4 {
    font-size: 100%
}

a, a:hover, a:link {
    color: #009a61
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both
}

.main .inner:after, .main .inner:before {
    content: '';
    display: table
}

.main .inner:after {
    clear: both
}

textarea {
    overflow: auto
}

button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #f0f0f0 #9c9c9c #9c9c9c #f0f0f0;
    text-decoration: none;
    font-weight: 700;
    color: #565656;
    cursor: pointer;
    width: auto;
    overflow: visible;
    padding: 4px 7px 3px;
    font-size: 12px;
    line-height: 130%;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
}

button[type] {
    padding: 5px 8px;
    line-height: 17px;
    border-radius: 0
}

button:hover {
    color: #009a61
}

button:active {
    border-color: #9c9c9c #f0f0f0 #f0f0f0 #9c9c9c
}

.main {
    width: 100%;
    overflow: hidden
}

.main .inner {
    margin: 10px 0px 0 0;
    position: relative;
    padding: 18px
}

input:-webkit-autofill {
    border: 1px solid #ccc
}

.inner li {
    margin: 1em 0;
    list-style: none
}

textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

textarea::-webkit-scrollbar-button:start:decrement {
    display: block;
    height: 5px
}

textarea::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px
}

textarea::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent
}

textarea::-webkit-scrollbar-track:enabled {
    background-color: rgba(113, 112, 107, .1);
    -webkit-border-radius: 5px
}

textarea::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px
}

textarea::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px
}

.mgb10 {
    margin-bottom: 10px !important
}

a.btn-default {
    padding: 5px 8px;
    line-height: 17px;
    display: inline-block;
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #f0f0f0 #9c9c9c #9c9c9c #f0f0f0;
    text-decoration: none;
    font-weight: 700;
    color: #565656;
    cursor: pointer;
    width: auto;
    overflow: visible;
    font-size: 12px;
    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif
}

a.btn-default:hover {
    color: #009a61
}

a.btn-default:active {
    border-color: #9c9c9c #f0f0f0 #f0f0f0 #9c9c9c
}

@media (max-width: 767px) {
    .main .inner {
        margin-right: 12px;
        margin-left: 12px
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .main .inner {
        margin-right: 0
    }
}

.CodeMirror {
    font-family: monospace;
    height: 300px;
    color: #000;
    direction: ltr
}

.CodeMirror-lines {
    padding: 4px 0
}

.CodeMirror pre {
    padding: 0 4px
}

.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
    background-color: #fff
}

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap
}

.CodeMirror-guttermarker {
    color: #000
}

.CodeMirror-guttermarker-subtle {
    color: #999
}

.CodeMirror-cursor {
    border-left: 1px solid #000;
    border-right: none;
    width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0 !important;
    background: #7e7
}

.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1
}

.cm-fat-cursor-mark {
    background-color: rgba(20, 255, 20, .5);
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7
}

@-moz-keyframes blink {
    50% {
        background-color: transparent
    }
}

@-webkit-keyframes blink {
    50% {
        background-color: transparent
    }
}

@keyframes blink {
    50% {
        background-color: transparent
    }
}

.cm-tab {
    display: inline-block;
    text-decoration: inherit
}

.CodeMirror-rulers {
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    bottom: -20px;
    overflow: hidden
}

.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0;
    bottom: 0;
    position: absolute
}

.cm-s-default .cm-header {
    color: #00f
}

.cm-s-default .cm-quote {
    color: #090
}

.cm-negative {
    color: #d44
}

.cm-positive {
    color: #292
}

.cm-header, .cm-strong {
    font-weight: 700
}

.cm-em {
    font-style: italic
}

.cm-link {
    text-decoration: underline
}

.cm-strikethrough {
    text-decoration: line-through
}

.cm-s-default .cm-keyword {
    color: #708
}

.cm-s-default .cm-atom {
    color: #219
}

.cm-s-default .cm-number {
    color: #164
}

.cm-s-default .cm-def {
    color: #00f
}

.cm-s-default .cm-variable-2 {
    color: #05a
}

.cm-s-default .cm-type, .cm-s-default .cm-variable-3 {
    color: #085
}

.cm-s-default .cm-comment {
    color: #a50
}

.cm-s-default .cm-string {
    color: #a11
}

.cm-s-default .cm-string-2 {
    color: #f50
}

.cm-s-default .cm-meta {
    color: #555
}

.cm-s-default .cm-qualifier {
    color: #555
}

.cm-s-default .cm-builtin {
    color: #30a
}

.cm-s-default .cm-bracket {
    color: #997
}

.cm-s-default .cm-tag {
    color: #170
}

.cm-s-default .cm-attribute {
    color: #00c
}

.cm-s-default .cm-hr {
    color: #999
}

.cm-s-default .cm-link {
    color: #00c
}

.cm-s-default .cm-error {
    color: red
}

.cm-invalidchar {
    color: red
}

.CodeMirror-composing {
    border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
    color: #0b0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
    color: #a22
}

.CodeMirror-matchingtag {
    background: rgba(255, 150, 0, .3)
}

.CodeMirror-activeline-background {
    background: #e8f2ff
}

.CodeMirror {
    position: relative;
    overflow: hidden;
    background: #fff
}

.CodeMirror-scroll {
    overflow: scroll !important;
    margin-bottom: -30px;
    margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: 0;
    position: relative
}

.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent
}

.CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
    position: absolute;
    z-index: 6;
    display: none
}

.CodeMirror-vscrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll
}

.CodeMirror-hscrollbar {
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    overflow-x: scroll
}

.CodeMirror-scrollbar-filler {
    right: 0;
    bottom: 0
}

.CodeMirror-gutter-filler {
    left: 0;
    bottom: 0
}

.CodeMirror-gutters {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    z-index: 3
}

.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px
}

.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: 0 0 !important;
    border: none !important
}

.CodeMirror-gutter-background {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 4
}

.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4
}

.CodeMirror-gutter-wrapper ::selection {
    background-color: transparent
}

.CodeMirror-gutter-wrapper ::-moz-selection {
    background-color: transparent
}

.CodeMirror-lines {
    cursor: text;
    min-height: 1px
}

.CodeMirror pre {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-width: 0;
    background: 0 0;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual
}

.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    padding: .1px
}

.CodeMirror-rtl pre {
    direction: rtl
}

.CodeMirror-code {
    outline: 0
}

.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.CodeMirror-cursor {
    position: absolute;
    pointer-events: none
}

.CodeMirror-measure pre {
    position: static
}

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3
}

div.CodeMirror-dragcursors {
    visibility: visible
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible
}

.CodeMirror-selected {
    background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
    background: #d7d4f0
}

.CodeMirror-crosshair {
    cursor: crosshair
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
    background: #d7d4f0
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
    background: #d7d4f0
}

.cm-searching {
    background-color: #ffa;
    background-color: rgba(255, 255, 0, .4)
}

.cm-force-border {
    padding-right: .1px
}

@media print {
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden
    }
}

.cm-tab-wrap-hack:after {
    content: ''
}

span.CodeMirror-selectedtext {
    background: 0 0
}

.cm-s-default span.cm-a {
    background: #aad1f7
}

.cm-s-default span.cm-b {
    background: #f9ca69
}

.cm-s-default span.cm-c {
    color: #007a09
}

.cm-s-default span.cm-g1 {
    background: #d2f854
}

.cm-s-default span.cm-g2 {
    background: #9ec70c
}

.cm-s-default span.cm-g3 {
    background: #ecc9f7
}

.cm-s-default span.cm-g4 {
    background: #54b70b
}

.cm-s-default span.cm-g5 {
    background: #b688cf
}

.cm-s-default span.cm-err {
    background: #ff4300
}

#preset_regex {
    margin-bottom: .3rem
}

#preset_regex h4 {
    margin: 0 0 .3rem 0
}

#preset_regex ul, #preset_regex ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

#preset_regex ul li {
    float: left;
    display: inline
}

#preset_regex ul li a {
    display: block;
    padding: 0 6px;
    line-height: 1.5
}

#regex_flags {
    padding: .3rem 0
}

.CodeMirror {
    border: 1px solid #abadb3;
    font-size: 14px;
    line-height: 1.5
}

.regex-wrapper .CodeMirror {
    height: 450px
}

.str-wrapper .CodeMirror {
    height: 350px
}

.cm-s-default .highlight-blue {
    background-color: #3498db;
    color: #fff
}

.cm-s-default .highlight-red {
    background-color: #e74c3c;
    color: #fff
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8
}

.hljs-comment, .hljs-quote {
    color: #998;
    font-style: italic
}

.hljs-keyword, .hljs-selector-tag, .hljs-subst {
    color: #333;
    font-weight: 700
}

.hljs-literal, .hljs-number, .hljs-tag .hljs-attr, .hljs-template-variable, .hljs-variable {
    color: teal
}

.hljs-doctag, .hljs-string {
    color: #d14
}

.hljs-section, .hljs-selector-id, .hljs-title {
    color: #900;
    font-weight: 700
}

.hljs-subst {
    font-weight: 400
}

.hljs-class .hljs-title, .hljs-type {
    color: #458;
    font-weight: 700
}

.hljs-attribute, .hljs-name, .hljs-tag {
    color: navy;
    font-weight: 400
}

.hljs-link, .hljs-regexp {
    color: #009926
}

.hljs-bullet, .hljs-symbol {
    color: #990073
}

.hljs-built_in, .hljs-builtin-name {
    color: #0086b3
}

.hljs-meta {
    color: #999;
    font-weight: 700
}

.hljs-deletion {
    background: #fdd
}

.hljs-addition {
    background: #dfd
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}
