<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.dreamn.qianji_auto">

    <!--手机存储-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="cn.dreamn.qianji_auto.MyApp"
        android:allowBackup="false"
        android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan|stateHidden"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="n">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="借助于第三方app的自动记账接口，实现对第三方app自动记账" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />

        <activity
            android:name="cn.dreamn.qianji_auto.activity.MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--fragment的页面容器-->
        <activity
            android:name="cn.dreamn.qianji_auto.core.BaseActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- applink的中转页面 -->
        <activity
            android:name="cn.dreamn.qianji_auto.core.XPageTransferActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!--屏幕自适应设计图-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

    </application>

</manifest>