body{
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
}
label{
    display: block;
    font-size: 18px;
    padding: 5px 0;
}
select {
    border: 1px solid #3396FB;
    background-color: #F2F2F2;
    font-size: 18px;
    text-align: center;
    text-align-last: center;
    height: 40px;
    color: #3396FB;
    padding: 0 10px;
    border-radius: 10px;
    outline-style: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}
input{
    outline-style: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #F2F2F2;
    background-color: white;
    height: 40px;
    padding: 0;
    font-size: 18px;
}
input::-webkit-input-placeholder{
    font-size:16px;
}
button{
    width: 30%;
    border-radius: 10px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    outline-style: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #3396FB;
}
option:first-child{
    font-weight: bolder;
}
option{
    background-color: white;
    color: black;
}

.rule{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.rule_content{
    width: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 5px;
}
.rule_content1 input,.rule_content1 select{
    width: 100%;
}
.rule_content2 select{
    width: 25%;
}
.rule_content2 input{
    width: 70%;
    margin-left: 5%;
}
.rule_content3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.rule_content3 span{
    width:30%;
    text-align: left;
    line-height: 40px;
}
.rule_content3 label{
    width:5%;
    text-align: center;
    font-size: 24px;
    color: #8A8A8A;
    line-height: 40px;
}
.rule_content3 select{
    width: 65%;
    border: none;
    background-color: white;
    text-align: right;
    text-align-last: right;
    padding-right: 5%;
    color: #AAAAAA;
    line-height: 40px;
}
.rule_content3 button{
    color: #5A98DE;
    border: 1px solid #3396FB;
    background-color: #F2F2F2;
    line-height: 40px;
}
.rule_content select:last-child{
    padding-right: 10%;
}

.buttons{
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
.buttons button{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}
.button1{
    margin-right: 10%;
}

@media screen and (min-width:992px){
    .rule{
        width: 50%;
    }
    .rule_content div{
        width: 95%;
        margin: 0 auto;
    }
    label{
        width: 95%;
        margin: 10px auto;
    }
    .buttons{
        width: 95%;
    }

}
@media screen and (min-width:768px) and (max-width:992px) {
    .rule{
        width: 80%;
    }
    .rule_content div{
        width: 95%;
        margin: 0 auto;
    }
    label{
        width:95%;
        margin: 10px auto;
    }
    .buttons{
        width: 95%;
    }
}
@media screen and (max-width:768px){
    .rule_content div{
        width: 95%;
        margin: 0 auto;
    }
    label{
        width: 95%;
        margin: 10px auto;
    }
    .buttons{
        width: 95%;
    }
}
textarea{
    width: 100%;
    outline-style: none;
    border: 2px solid #F2F2F2;
    min-height: 20px;
    max-height: 70px;
    font-size: 18px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
}
.imgIcon{
			/*反转元素*/

			/*考虑浏览器兼容性：兼容Chrome,Safari,Opera*/
			-webkit-filter: invert(50%);
			filter: invert(50%);
		}